.container {
  display: flex;
  gap: 24px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background: #f5f7fb;
  min-height: 100vh;
  
}
.backButton {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 40px;
 padding: 8px 12px;
 
  width: fit-content;
  border-radius: 6px;
  gap: 8px;
  color: #616161;
  
  
}
.left {
  flex: 2;
}

.right {
  flex: 1;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}